In [116]:
from imp import reload

In [117]:
import strategy

In [1]:
reload(strategy)

In [119]:
from strategy import strategy5_1_list,list_data,flatten,strategy5_1
import os 
import pandas as pd

In [2]:
os.getcwd()

In [121]:
data_path = './init_rdc_data//topN_data/ablstm_one/'

In [122]:
file_list = sorted(os.listdir(data_path))

In [3]:
file_list

In [124]:
data0 = list_data(1,'drop0.5_25',data_path,file_list,weight=False)

In [125]:
data1 = list_data(2,'drop0.6_25',data_path,file_list,weight=False)

In [126]:
data2 = list_data(3,'drop0.5_30',data_path,file_list,weight=False)

In [127]:
data3 = list_data(4,'drop0.6_30',data_path,file_list,weight=False)

In [128]:
data0.head(2)

,drop0.5_25_label,drop0.5_25_prob
0,"(1608>2320>2173>3813, 1608>2320>2173>2878, 160...","(0.951836, 0.047402, 0.000489537, 0.000182385,..."
1,"(2199>4592>12, 2199>661>333>3609, 2199>4592>19...","(1.0, 8.13852e-09, 2.24448e-09, 1.942230000000..."

In [129]:
data_combine = pd.concat([eval('data%d'%i) for i in range(4)],axis=1)

In [130]:
data_combine.head(2)

,drop0.5_25_label,drop0.5_25_prob,drop0.6_25_label,drop0.6_25_prob,drop0.5_30_label,drop0.5_30_prob,drop0.6_30_label,drop0.6_30_prob
0,"(1608>2320>2173>3813, 1608>2320>2173>2878, 160...","(0.951836, 0.047402, 0.000489537, 0.000182385,...","(1608>2320>2173>3813, 1608>2320>2173>2878, 160...","(0.6938340000000001, 0.302879, 0.00157966, 0.0...","(1608>2320>2173>2878, 1608>2320>2173>3813, 160...","(0.636387, 0.227429, 0.136122, 3.272e-05, 1.53...","(1608>2320>2173>2878, 1608>2320>2173>3813, 160...","(0.7650520000000001, 0.22361999999999999, 0.00..."
1,"(2199>4592>12, 2199>661>333>3609, 2199>4592>19...","(1.0, 8.13852e-09, 2.24448e-09, 1.942230000000...","(2199>4592>12, 2199>661>333>3609, 3292>4837>23...","(1.0, 3.06305e-09, 1.85527e-09, 1.09503e-09, 2...","(2199>4592>12, 2199>4592>193, 2199>661>333>360...","(1.0, 4.2978699999999994e-08, 3.28971e-10, 3.1...","(2199>4592>12, 2199>4592>193, 2199>661>333>360...","(1.0, 2.234e-07, 2.76803e-08, 1.36973000000000..."

In [131]:
data_combine['label_list_all'] = data_combine[[i for i in data_combine.columns if 'label' in i ]].apply(lambda s:\
                                                                                                        tuple(s),axis=1)
data_combine['prob_list_all'] = data_combine[[i for i in data_combine.columns if 'prob' in i ]].apply(lambda s:\
                                                                                                        tuple(s),axis=1)

In [132]:
data_combine['label_list']=data_combine['label_list_all'].apply(lambda s:flatten(s))
data_combine['prob_list']=data_combine['prob_list_all'].apply(lambda s: flatten(s,class_type='prob'))

In [146]:
data_combine[['label_list_all','prob_list_all']].head(2)

,label_list_all,prob_list_all
0,"((1608>2320>2173>3813, 1608>2320>2173>2878, 16...","((0.951836, 0.047402, 0.000489537, 0.000182385..."
1,"((2199>4592>12, 2199>661>333>3609, 2199>4592>1...","((1.0, 8.13852e-09, 2.24448e-09, 1.94223000000..."

In [147]:
data_combine['target'] = list(map(lambda x,y:strategy5_1_list(x,y),data_combine['label_list'],data_combine['prob_list']))

In [154]:
data_combine['target'].head()

0    ([1608>2320>2173>3813, 1608>2320>2173>2878, 16...
1    ([2199>4592>12, 2199>4592>193, 2199>661>333>36...
2    ([2199>4592>12, 2199>4592>193, 2199>4592>708, ...
3    ([1608>4269>3031>1221, 1608>1150>1244>615, 329...
4    ([3292>114>1231, 3292>1370>4767>3975>1420, 329...
Name: target, dtype: object

In [ ]:
data_combine['target'].to_csv('ablstm_one_4models.top10_s_5_1',sep='\t',index=False,header=None)

In [ ]:
#end

In [156]:
data_combine['target_label'] = data_combine['target'].apply(lambda s: s[0])
data_combine['target_prob'] = data_combine['target'].apply(lambda s:s[1])

In [157]:
Final_data = data_combine[['target_label','target_prob']]

In [161]:
Final_data.head(2)

,target_label,target_prob,target_label_str,target_prob_str
0,"[1608>2320>2173>3813, 1608>2320>2173>2878, 160...","[0.951836, 0.7650520000000001, 0.136122, 0.006...","['1608>2320>2173>3813', '1608>2320>2173>2878',...","[0.951836, 0.7650520000000001, 0.136122, 0.006..."
1,"[2199>4592>12, 2199>4592>193, 2199>661>333>360...","[1.0, 2.234e-07, 2.76803e-08, 1.94223000000000...","['2199>4592>12', '2199>4592>193', '2199>661>33...","[1.0, 2.234e-07, 2.76803e-08, 1.94223000000000..."

In [4]:
for i in Final_data.columns:
    Final_data['%s_str'%i] = Final_data[i].apply(lambda s:str(s))

In [163]:
Final_data.head(2)

,target_label,target_prob,target_label_str,target_prob_str,target_label_str_str,target_prob_str_str
0,"[1608>2320>2173>3813, 1608>2320>2173>2878, 160...","[0.951836, 0.7650520000000001, 0.136122, 0.006...","['1608>2320>2173>3813', '1608>2320>2173>2878',...","[0.951836, 0.7650520000000001, 0.136122, 0.006...","['1608>2320>2173>3813', '1608>2320>2173>2878',...","[0.951836, 0.7650520000000001, 0.136122, 0.006..."
1,"[2199>4592>12, 2199>4592>193, 2199>661>333>360...","[1.0, 2.234e-07, 2.76803e-08, 1.94223000000000...","['2199>4592>12', '2199>4592>193', '2199>661>33...","[1.0, 2.234e-07, 2.76803e-08, 1.94223000000000...","['2199>4592>12', '2199>4592>193', '2199>661>33...","[1.0, 2.234e-07, 2.76803e-08, 1.94223000000000..."