In [28]:
import pandas as pd
import os

In [29]:
base_path = './init_rdc_data/topN_data/short_path_tree/ablstm-8/'

In [30]:
file_list = sorted(os.listdir(base_path))

In [1]:
#file_list

In [37]:
def Load_Data(file_number,sep):
    file_path = file_list[file_number]
    #print(file_path)
    data0 = pd.read_csv(os.path.join(base_path,file_path),sep=sep,header=-1)
    data0.iloc[:,0]=data0.iloc[:,0].astype(str)
    data0['label_list'] = data0[[i for i in data0.columns.tolist() if i%2==0]].apply(lambda x:tuple(x),axis=1)
    data0['prob_list'] = data0[[i for i in data0.columns[:-1] if i%2==1]].apply(lambda x:tuple(x),axis=1)
    modify = data0[['label_list','prob_list']]
    modify.columns=['label_list%d'%file_number,'prob_list%d'%file_number]
    return modify

In [ ]:
data1 = Load_Data(1,'\t')
data2 = Load_Data(2,'\t')
data3 = Load_Data(3,'\t')
data4 = Load_Data(4,'\t')
data5 = Load_Data(5,'\t')
data6 = Load_Data(6,'\t')
data7 = Load_Data(7,'\t')
data8 = Load_Data(8,'\t')

In [41]:
data_combine = pd.concat([eval('data%d'%i) for i in range(1,9)],axis=1)

In [42]:
data_combine.head(3)

,label_list1,prob_list1,label_list2,prob_list2,label_list3,prob_list3,label_list4,prob_list4,label_list5,prob_list5,label_list6,prob_list6,label_list7,prob_list7,label_list8,prob_list8
0,"(1608, 4015, 2075)","(1.0, 1.2098800000000002e-09, 2.22080000000000...","(1608>2320, 4015>2824, 2075>2297)","(1.0, 1.7406599999999997e-10, 4.16896e-11)","(1608>2320>2173, 1608>2320>498, 1608>2320>2106)","(0.9999979999999999, 1.12183e-06, 6.4067499999...","(1608>2320>2173>2878, 1608>2320>2173>3813, 160...","(0.776623, 0.221275, 0.00198419)","(4015>3636>526>2454>2224, 4015>3271>2768>3427>...","(0.543155, 0.22697699999999998, 0.0724054)","(4015>3754>3663>512>4157>239, 4015>3754>3663>5...","(0.896109, 0.0107035, 0.0095966)","(4015>2824>2964>2473>4559>1399>1883, 4015>2824...","(0.409508, 0.231496, 0.033969)","(4015>2824>2964>2473>4559>4340>3056>4481, 4015...","(0.694503, 0.236421, 0.0690759)"
1,"(2199, 4015, 3292)","(1.0, 4.08024e-08, 2.05095e-08)","(2199>4592, 4015>3754, 2199>661)","(1.0, 3.6342400000000004e-08, 7.61991e-09)","(2199>4592>12, 2199>4592>193, 4015>3754>3663)","(1.0, 1.15999e-08, 6.216819999999999e-09)","(3730>1887>3044>3352, 3292>114>2641>3624, 2199...","(0.591222, 0.15166500000000002, 0.072165600000...","(1208>310>2027>3579>869, 1395>2736>1061>1187>4...","(0.583026, 0.09426269999999999, 0.089371300000...","(4015>3285>345>1237>592>2449, 4015>2824>2964>2...","(0.39813899999999997, 0.139002, 0.123576999999...","(4015>2824>2964>2473>4559>1399>1883, 4015>2824...","(0.17911300000000002, 0.1036, 0.09877269999999...","(4015>2824>2964>2473>4559>4340>3056>4481, 4015...","(0.561643, 0.34670500000000004, 0.091652100000..."
2,"(2199, 3292, 4015)","(0.999999, 8.66808e-07, 6.346820000000001e-07)","(2199>4592, 4015>3754, 2199>915)","(1.0, 4.46886e-08, 2.52208e-09)","(2199>4592>12, 2199>4592>193, 4015>3754>3663)","(1.0, 1.04572e-07, 4.89824e-08)","(4015>3754>3663>512, 4015>3754>3663>1500, 2075...","(0.931659, 0.0538514, 0.0104613)","(4015>3754>3663>512>4157, 4015>3754>3663>1500>...","(0.941535, 0.05176669999999999, 0.00357637)","(4015>3754>3663>512>4157>2157, 4015>3754>3663>...","(0.984409, 0.012314799999999999, 0.00101247)","(4015>2824>2964>2473>4559>1399>1883, 4015>2824...","(0.382312, 0.103744, 0.0593664)","(4015>2824>2964>2886>4632>3037>4189>2444, 4015...","(0.439116, 0.419563, 0.141321)"

In [44]:
data_combine['label_list1'] = data_combine['label_list1'].apply(lambda s:s[:1])
data_combine['prob_list1'] = data_combine['prob_list1'].apply(lambda s:s[:1])

In [45]:
data_final = pd.DataFrame()

In [47]:
data_final['label_list'] = data_combine[[i for i in data_combine.columns if 'label_list' in i]].apply(lambda s: tuple(s),axis=1)

In [48]:
data_final['prob_list'] = data_combine[[i for i in data_combine.columns if 'prob_list' in i]].apply(lambda s: tuple(s),axis=1)

In [49]:
data_final.head(2)

,label_list,prob_list
0,"((1608,), (1608>2320, 4015>2824, 2075>2297), (...","((1.0,), (1.0, 1.7406599999999997e-10, 4.16896..."
1,"((2199,), (2199>4592, 4015>3754, 2199>661), (2...","((1.0,), (1.0, 3.6342400000000004e-08, 7.61991..."

In [55]:
def find_label(exam_list):
    filter_list = []
    root = exam_list[0][0]
    for i,j in enumerate(exam_list):
        if i==0:
            filter_list.append(exam_list[i])
        else:
            exam_list_tmp= [k for k  in exam_list[i] if root in k]
            filter_list.append(exam_list_tmp)
            if len(exam_list_tmp)==0:
                break
            else:
                root = exam_list_tmp[0]
    filter_list = [i for i in filter_list if i != []]
    return filter_list[-1],len(filter_list)

In [ ]:
find_label(data_final.label_list[0])

In [59]:
data_final.prob_list[0]

((1.0,),
 (1.0, 1.7406599999999997e-10, 4.16896e-11),
 (0.9999979999999999, 1.12183e-06, 6.406749999999999e-07),
 (0.776623, 0.221275, 0.00198419),
 (0.543155, 0.22697699999999998, 0.0724054),
 (0.896109, 0.0107035, 0.0095966),
 (0.409508, 0.231496, 0.033969),
 (0.694503, 0.236421, 0.0690759))

In [ ]:
tree_search_short_path(data_final.label_list[0],data_final.prob_list[0])

In [63]:
def tree_search_short_path(label_list,prob_list):

    target_label,level_flag =find_label(label_list)
    
    position_flag = [label_list[level_flag-1].index(i) for i in target_label]
#     print(position_flag)
    target_prob = [prob_list[level_flag-1][i] for i in position_flag]
    return target_label,target_prob

In [64]:
data_final.head(2)

,label_list,prob_list
0,"((1608,), (1608>2320, 4015>2824, 2075>2297), (...","((1.0,), (1.0, 1.7406599999999997e-10, 4.16896..."
1,"((2199,), (2199>4592, 4015>3754, 2199>661), (2...","((1.0,), (1.0, 3.6342400000000004e-08, 7.61991..."

In [65]:
data_final['target'] = list(map(lambda x,y: tree_search_short_path(x,y),data_final['label_list'],data_final['prob_list']))

In [67]:
data_final['target_str']=data_final['target'].apply(lambda s:str(s))

In [70]:
output_path = './init_rdc_data/topN_data/short_path_tree/'

In [71]:
data_final[['target_str']].to_csv(os.path.join(output_path,'sp_multi_choice.tsv'),sep='\t',index=False,header=None)

In [73]:
data_final.head(2)

,label_list,prob_list,target,target_str
0,"((1608,), (1608>2320, 4015>2824, 2075>2297), (...","((1.0,), (1.0, 1.7406599999999997e-10, 4.16896...","([1608>2320>2173>2878, 1608>2320>2173>3813], [...","(['1608>2320>2173>2878', '1608>2320>2173>3813'..."
1,"((2199,), (2199>4592, 4015>3754, 2199>661), (2...","((1.0,), (1.0, 3.6342400000000004e-08, 7.61991...","([2199>4592>12, 2199>4592>193], [1.0, 1.15999e...","(['2199>4592>12', '2199>4592>193'], [1.0, 1.15..."

In [79]:
data_final['target_label'] = data_final['target'].apply(lambda s:s[0])
data_final['target_prob'] =data_final['target'].apply(lambda s:s[1])

In [80]:
data_final[['target_label','target_prob']].to_csv('./init_rdc_data/topN_data/short_path_tree/sp-tree.tsv',\
                                                 sep='\t',index=False,header=None)